<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444627893126-slf3pvb6orjtsu4bfatob97i97kpjois.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444627893126-slf3pvb6orjtsu4bfatob97i97kpjois</string>
	<key>API_KEY</key>
	<string>AIzaSyB8NsjeyVvHQ4ZUM03AH45vKixzuB0tQQA</string>
	<key>GCM_SENDER_ID</key>
	<string>444627893126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apisOpenData.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-projet-api</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projet-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444627893126:ios:bcbdaedb935cb19a170a07</string>
</dict>
</plist>